#container {
    width: 375px;
    height: 375px;
    background-color: #C1BDB3;
    border-radius: 15px / 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
}

input {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-bottom: 1px solid #3D3B3C;
    height: 35px;
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
    margin-top: 15px;
    margin-bottom: 15px;
    outline: 0;
    font-size: 14.5px;
}

#login-btn {
    height: 35px;
    width: calc(85% + 15px);
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    border-radius: 25px / 25px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}